PORT="1919"
VERSION="1.9.4"
NODE_ENV="production"
TIMEZONE="America/New_York"
HEADER_AGENT="Mozilla/5.0 (X11; Linux x86_64; rv:142.0) Gecko/20100101 Firefox/142.0"
JWT_SECRET="some-very-long-string"
GITHUB_API_KEY="myverylonggithubapikey"
MONGO_URI_API="mongodb://localhost/api?retryWrites=true&w=majority"
MONGO_URI_TODOS="mongodb://localhost/todo?retryWrites=true&w=majority"
MONGO_URI_NOTES="mongodb://localhost/notes?retryWrites=true&w=majority"
MONGO_URI_SHRTNR="mongodb://localhost/shrtnr?retryWrites=true&w=majority"
BLOG_URL="https://api.github.com/repos/malaks-us/jason/contents/_posts"
DOMAIN_LIST="https://raw.githubusercontent.com/casjay/public/main/domains.json"
GIT_MESSAGE_URL="https://raw.githubusercontent.com/apimgr/Commitmessages/refs/heads/main/gitmessages.json"
ARGIS_URL="https://services1.arcgis.com/0MSEUqKaxRlEPj5g/arcgis/rest/services/ncov_cases/FeatureServer/1/query?f=json&where=Confirmed%20%3E%200&returnGeometry=false&spatialRel=esriSpatialRelIntersects&outFields=*&orderByFields=Confirmed%20desc%2CCountry_Region%20asc%2CProvince_State%20asc&resultOffset=0&resultRecordCount=1000&cacheHint=false%27"
TIMEZONE_URL="https://raw.githubusercontent.com/apimgr/timezones/refs/heads/main/timezones.json"
COUNTRIES_URL="https://raw.githubusercontent.com/apimgr/countries/refs/heads/main/countries.json"
ALBANY_CLOSINGS_URL="https://wnyt.com/wp-content/uploads/dynamic-assets/schoolalert.html"
UTICA_CLOSINGS_URL="https://amb-feeds.s3.amazonaws.com/WKTV_closings.json"
PROFILE_URL="https://raw.githubusercontent.com/casjay/public/main/profile.json"
TRAFFIC_URL="https://511ny.org/list/events/traffic?start=0&length=100&order%5Bi%5D=1&order%5Bdir%5D=asc"
