{
  "version": 2,
  "builds": [
    {
      "src": "api/*.js",
      "use": "@now/node"
    }
  ],
  "routes": [
    {
      "methods": [
        "POST",
        "OPTIONS",
        "GET",
        "PUT"
      ],
      "headers": {
        "Access-Control-Allow-Origin": "*",
        "Access-Control-Allow-Headers": "*",
        "Access-Control-Allow-Credentials": "true"
      },
      "src": "^/(.*)$",
      "dest": "/api/index.js"
    },
    {
      "src": "^/images",
      "dest": "/api/public"
    }
  ],
  "env": {
    "PORT": "1919",
    "VERSION": "1.9.4",
    "NODE_ENV": "production",
    "HEADER_AGENT": "Awesome-Octocat-App",
    "GITHUB_API_KEY": "myverylonggithubapikey",
    "JWT_SECRET": "some-very-long-string",
    "MONGO_URI_API": "mongodb://localhost/api?retryWrites=true&w=majority",
    "MONGO_URI_TODOS": "mongodb://localhost/todo?retryWrites=true&w=majority",
    "MONGO_URI_NOTES": "mongodb://localhost/notes?retryWrites=true&w=majority",
    "MONGO_URI_SHRTNR": "mongodb://localhost/shrtnr?retryWrites=true&w=majority",
    "BLOG_URL": "https://api.github.com/repos/malaks-us/jason/contents/_posts",
    "DOMAIN_LIST": "https://raw.githubusercontent.com/casjay/casjay/main/domains.json",
    "GIT_MESSAGE_URL": "https://github.com/apimgr/Commitmessages/raw/refs/heads/main/gitmessages.json",
    "ARGIS_URL": "https://services1.arcgis.com/0MSEUqKaxRlEPj5g/arcgis/rest/services/ncov_cases/FeatureServer/1/query?f=json&where=Confirmed%20%3E%200&returnGeometry=false&spatialRel=esriSpatialRelIntersects&outFields=*&orderByFields=Confirmed%20desc%2CCountry_Region%20asc%2CProvince_State%20asc&resultOffset=0&resultRecordCount=1000&cacheHint=false%27"
  }
}
