{
  "version": 2,
  "builds": [
    {
      "src": "api/*.js",
      "use": "@now/node"
    }
  ],
  "routes": [
    {
      "methods": [
        "POST",
        "OPTIONS",
        "GET",
        "PUT"
      ],
      "headers": {
        "Access-Control-Allow-Origin": "*",
        "Access-Control-Allow-Headers": "*",
        "Access-Control-Allow-Credentials": "true"
      },
      "src": "^/(.*)$",
      "dest": "/api/index.js"
    },
    {
      "src": "^/images",
      "dest": "/api/public"
    }
  ],
  "env": {
    "PORT": "@PORT",
    "VERSION": "@VERSION",
    "NODE_ENV": "@NODE_ENV",
    "HEADER_AGENT": "@HEADER_AGENT",
    "GITHUB_API_KEY": "@GITHUB_API_KEY",
    "JWT_SECRET": "@JWT_SECRET",
    "MONGO_URI_API": "@MONGO_URI_API",
    "MONGO_URI_TODOS": "@MONGO_URI_TODOS",
    "MONGO_URI_NOTES": "@MONGO_URI_NOTES",
    "MONGO_URI_SHRTNR": "@MONGO_URI_SHRTNR",
    "BLOG_URL": "@BLOG_URL",
    "DOMAIN_LIST": "@DOMAIN_LIST",
    "GIT_MESSAGE_URL": "@GIT_MESSAGE_URL",
    "ARGIS_URL": "@ARGIS_URL",
    "TIMEZONE_URL": "@TIMEZONE_URL",
    "COUNTRIES_URL": "@COUNTRIES_URL",
    "ALBANY_CLOSINGS_URL": "@ALBANY_CLOSINGS_URL",
    "UTICA_CLOSINGS_URL": "@UTICA_CLOSINGS_URL",
    "PROFILE_URL": "@PROFILE_URL",
    "TRAFFIC_URL": "@TRAFFIC_URL"
  }
}
